.typing {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 7s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20em;
  }
}
.pd-2 {
  padding-top: 20px;
}
.pd-3 {
  padding-top: 70px;
}
.pd-5 {
  padding-top: 150px;
}
.pd--5 {
  margin-top: -50;
  display: flexbox;
}
.md-5 {
  margin-top: 0px;
}

/* Styles for mobile navigation */

.toggle-btn {
  color: #fff;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #000;
}

/* .dropdown li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdown li:last-child {
  border-bottom: none;
} */
