.typing {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 7s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20em;
  }
}
.pd-2 {
  padding-top: 20px;
}
.pd-3 {
  padding-top: 70px;
}
.pd-5 {
  padding-top: 150px;
}
.pd--5 {
  margin-top: -50;
  display: flexbox;
}
.md-3 {
  margin-top: 50px;
}

.md-2 {
  margin-top: 30px;
}
.reduce-m {
  margin-top: -120px;
}
/* Styles for mobile navigation */

.toggle-btn {
  color: #fff;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #000;
}

/* .dropdown li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdown li:last-child {
  border-bottom: none;
} */

.image-container {
  position: relative;
  display: inline-block;
}

.audio-button {
  position: absolute;
  top: 50%;
  left: 50%;
  /* cursor: pointer; */
}

.pause-btn {
  display: none;
}

.my-button {
  border-radius: 12px;
}

.music-btn {
  position: absolute;
  top: 15%;
  left: 60%;
  color: #fff;
  border: #000 1px solid;
  border-radius: 12px;
  background-color: #751ff5;
}

.buy-btn {
  position: absolute;
  top: 15%;
  right: 10%;
  color: #fff;
  border: #000 1px solid;
  border-radius: 12px;
  background-color: #751ff5;
}

.pb-2 {
  margin-bottom: 50px;
}
